.btn-width {
    width: 100%;
}

p.lh-none {
    line-height: 18px;
}

.error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 12px;
    color: #dc3545;
}

.valid-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 12px;
    color: #28a745;
}

/* autocomplete */
.autocomplete-suggestions {
    background: #fff;
    overflow: auto;
    font-size: 13px;
    color: #666;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(83, 83, 83, 0.1);
}
.autocomplete-suggestion {
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #4556db;
}
.autocomplete-group {
    padding: 10px 15px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* button export excel */
.export-excel-bg {
    background: #6777ef;
    padding: 4px 5px;
    border: 0;
    color: #ffffff;
    font-size: larger;
    border-radius: 4px;
}

.export-excel-bg:hover {
    background: #2e44e9;
}

.selectric .label {
    font-size: 14px;
}

.selectric .label {
    margin: 0 38px 0 5px;
}

.select2-selection__rendered {
    margin: 0 38px 0 -5px;
}
.select2-selection__clear:hover {
    color: #6777ef;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    margin-right: -10px;
    font-size: 16px;
}

.select2-selection__placeholder {
    margin: 0 38px 0 -5px;
}
